:root {
  --background: #1e1e1e;
  --foreground: #f0f0f0;
}

/* Basic document setup */
html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background);
  color: var(--foreground);
}

/* Universal reset */
* {
  box-sizing: border-box;
}

/* Buttons container */
.ctas {
  width: 100%;
  max-width: 440px;
}

/* Vertical spacing wrapper for ReactiveButton */
.cta-wrapper {
  width: 100%;
  margin-bottom: 24px;
}

.cta-wrapper:last-child {
  margin-bottom: 0;
}

.fade-title {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


